/*#container
{
    display: flex;
    justify-content: space-around;
    vertical-align: baseline;

    font-family: "Mukta Mahee", sans-serif;
    color: white;
}

.text_logo_footer{
  font-family: "Noto Sans", sans-serif;
}

.title_footer{
  font-weight: bold;
}



.background_footer.p {
  font-family: "Noto Sans", sans-serif;
  color: #333333;
}*/
