header{
  background-color: #2c2c2c;
  height: 144px;
  color: white;
}
.barre_info{
  display : flex;
}

.logo{
}

.telephone{
  display : flex;
  flex-direction: row;
}

.mail{
  display : flex;
  flex-direction: row;
}
