header{
  background-color: #2c2c2c;
  color: white;
  display:flex;
  justify-content: space-between;
}

.logo{
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.menuglobal{
  padding-right: 113px;
  padding-top: 24px;
}

.barre_info{ /*telephone + mail + deviis*/
display: flex;
}


.telephone{
  display: flex;
  padding-right: 7%;
}

.telephone img{
  padding-right: 1%;
}

.mail{
  display: flex;
  padding-right: 7%;
}

.mail img{
  padding-right: 1%;
}

.devis{
  background: #C00A23;
  border-radius: 6px;
}

.texte_icone{ /*fonctionne si son parent est flex*/
  align-self: center;
}
