@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee&display=swap');

header{
 position: fixed;
 z-index: 9;
 background-color: #2c2c2c;
 width: 100%;
 color: white;
}

header div.wrap_header{
  display:flex;
  justify-content: space-between;
  max-width: 1218px;
  padding-left: 111px;
  padding-right: 111px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
}

.logo{
  padding-top: 2%;
  padding-bottom: 2%;
}

.global_menu{
  margin-right: 111px;
}

.info_bar{ /*phone + mail + deviis*/
display: flex;
}


.phone{
  display: flex;
  margin-left: 11px;
}

.phone img{
  padding-right: 7%;
}

.mail{
  display: flex;
  margin-left: 49px;
}

.mail img{
  margin-right: 11px;
}

.estimation{
  display: flex;
  justify-content: center;
  width : 226px;
  background: #C00A23;
  border-radius: 6px;
  padding: 6px 15px; /*haut/bas droite/gauche*/
  margin-left: 49px;
}
.estimation a{
  white-space: nowrap; /* interdiction de passer à la ligne */
  font-size: 24px;
  text-align: center;
  font-family: 'Mukta Mahee', sans-serif;
  font-weight: 400;
  text-decoration : none;
  color : white;
}

.text_icon{
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

div#nav{
  padding-top: 5%;
}

div#nav div.menu ul{
  display:flex;
}

div#nav div.menu ul li{
  padding-right: 7%;
  padding-left: 7%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;

}

div#nav div.menu ul li:not(:last-child){
  border-right: 1px solid #C00A23;
}

div#nav div.menu ul li a{
  white-space: nowrap; /* interdiction de passer à la ligne */
  font-size: 18px;
  text-decoration:none;
  color : white;
}

div#nav div.menu ul li.current_page_item a {
  color: #C00A23;
}

.text_icon{
  align-self: center;/*fonctionne si son parent est flex*/
  white-space: nowrap; /* interdiction de passer à la ligne */
}
