@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


html{
  background-color: #2C2C2C;
  width : 1440px;
  scroll-behavior: auto;
}

.wrap_page {
    margin-top: 150px;
    margin-bottom: 240px;
}

a {
  text-decoration : none;
}

#title{
  z-index: 2;
}
#home_picture img{
  z-index: 1;
  text-align: center;
  width : 1517px;
  height : 656px;
}
#home_picture h1{
  margin : 13.6% 17.3%;
  text-align: center;
  line-height: 88px;
  font-family: 'Noto Sans',sans-serif;
  font-size:80px;
  font-weight: 700;
  color:#FFFFFF;
  position : absolute;
}

#text_savoir-faire {
  margin-top : 6.1%;
}

#paragraph1 {
  margin-top : 5.7%;
  margin-right : auto;
  margin-left : 450px;
  width : 590px;
}

#paragraph1 p{
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  line-height : 30px;
}

#paragraph2 p{
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  line-height : 30px;
}

#logo_savoir-faire {
  margin-right : auto;
  margin-left : auto;
}

#wrap1{
  display: flex;
  justify-content: space-around;
  /*border: 2px solid black;*/
  margin-top : 3%;
  margin-left : 6.5%;
  margin-right : 1%;
  height : auto;
}

#wrap2{
  display: flex;
  justify-content: space-around;
  /*border: 2px solid black;*/
  margin-top : 3%;
  margin-left : 6.5%;
  margin-right : 1%;
  height : auto;
}

#logo_savoir-faire h3 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #FFFFFF;
  margin-top : 7%;
  margin-left : 80px;
}


#border1 {
  display : block;
  margin-left : 630px;
  margin-right : auto;
  border : 5px #C00A23 solid;
  width : 265px;
  height : 66px;
  transition: 0.2s;
}

#border1:hover{
  border: 5px white solid;
  color: white;
}

#border2 {
  display : block;
  /*margin-left : 630px;*/
  border : 5px #C00A23 solid;
  width : 163px;
  height : 58px;
  transition: 0.2s;
}
#border2:hover{
  border: 5px white solid;
  color: white;
}



 h2 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  color: #C00A23;
  margin-top : 14px;
  white-space: nowrap;
  z-index: 10;
}


.picture1 img {
margin : 64px -60px;
}
.picture2 img {
margin : 80px -50px;
}
.picture3 img {
margin : 78px -60px;
}
.picture4 img {
margin : 62px -80px;
}
.picture5 img {
margin : 65px -65px;
}
.picture6 img {
margin : 70px -65px;
}


#logo_savoir-faire img {
  position : absolute;
}

.icon_name{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight:500;
  font-size: 26px;
  color: white;
  position : absolute;
  margin : 239px;
  width : inherit;
}


.icon{
  display : flex;
  justify-content: center;
  width: 410px;
  height: 310px;
  background-color: #C00A23;
  transition: 0.2s;
}
.icon:hover{
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
  border: 2px solid white;

}

#a-propos {
  margin-top : 25.7%;
  width : 100%;
  display : inline-block;
  position : relative;
}

#a-propos_image {
  display : inline-block;
  /*position : absolute;*/
  float : left;
  margin : -40px;
  margin-left : 168px;
}

.absolute img {
  position : absolute;
}

#a-propos_image .absolute img {
    margin : -524px -40px;
    scroll-behavior: smooth;

}

#home_picture .absolute img {
  margin : -340px 726px;
  width : 6%;
}

#a-propos_text .absolute img {
  margin : -1.7% 8.8%;
}

#a-propos_text {
  display : inline-block;
  /*margin-left : 10.15%;*/
  margin : 0% 150px;
  margin-right : auto;
}

#a-propos_text h2 {
  display : inline-block;
  margin : 10% 14%;
  letter-spacing: -0.4px;
}

#a-propos_text p {
  display : inline-block;
  text-align: left;
  line-height: 34px;
}

#paragraph2 {
  margin : 25px 0%;
  width : 450px;
}

#more {
  text-align : center;
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin : 0.5% 0%;
}

#contact {
  display : inline-block;
  margin-top: 265px;
  margin-left: 615px;
}

#contact p {
  text-align : center;
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #FFFFFF;
  margin-top : 3%;
}

#estimation {
  display : flex;
  justify-content : center;
  border-radius : 6px;
  background-color : #C00A23;
  margin-left: auto;
  margin-right:auto;
  width : 226px;
  height : 39px;
  margin-top : 12%;
}

#contact h3 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
