@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html{
  background-color: #2C2C2C;
}

#title{
  position:absolute;
  z-index: 2;
}
#home_picture img{
  position:absolute;
  z-index: 1;
  text-align: center;
}
#home_picture h1{
  text-align: center;
  line-height: 200px;
  background-color: none;
  font-family: 'Noto Sans',sans-serif;
  font-style: bold;
  font-size:80px;
  font-weight: 700;
  margin:auto;
  color:white;
}
#home_picture{
  position:relative;
  height: 656px;
  border: 2px solid black;
}

#paragraphe p {
  font-family: Mukta Mahee;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}


#wrap1{
  display: flex;
  justify-content: space-around;
  /*border: 2px solid black;*/
}


#wrap2{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  /*border: 2px solid black;*/
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.border {
  display : flex;
  justify-content : center;
  border : 5px #C00A23 solid;
  margin-left: auto;
  margin-right:auto;
  width : 250px;
  height : 67px;
}

 h2 {
  text-align: center;
  padding: 19px 22px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  color: #C00A23;
}

h3 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}

.icon{
  width: 384px;
  height: 288px;
}
.icon:nth-child(1){

  background-color: #C00A23;}

.icon:nth-child(2){

  background-color: #C00A23;}

.icon:nth-child(3){

    background-color: #C00A23;
}
