@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');



h2{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #C00A23;
}

#underline{
  border-bottom: 1px solid #C00A23;
  width: 341px;
}

#small_text{
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align:center;
  color: white;
  padding-top: 2%;
}

#bold_text{
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align:center;
  color: white;
}
.wrap_contact{
  display: flex;
  justify-content: center;
  /*border: 2px solid black;*/
  margin-top : 5%;
}
.icon_contact{
  width: 100px;
  height: 100px;
}
.icon_contact:nth-child(1){
  background-color: #C00A23;}

}

.icon_contact:nth-child(2){
  background-color: blue;}

.icon_contact:nth-child(3){
  background-color: green;}


#devis_contact{
  width:710px;
  height:603px;
  background-color: #C00A23;
}
