@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  section#contact_page{
    float: none;
  }
}


body section #contact_page{
    display:flex;
    justify-content: space-between;
    max-width: 1218px;
    margin-left: auto;
    margin-right: auto;
}
h2#contact_title{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #C00A23;
  padding-bottom:0.5%;

}

#underline{
  border-top: 6px solid #C00A23;
  width: 341px;
  margin-left: 40%;
}

#small_text{
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align:center;
  color: white;
  padding-top: 2%;
}

#bold_text{
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align:center;
  color: white;
}
#wrap_contact{
  display: flex;
  justify-content: space-around;
  margin-top : 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.text_contact{
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: white;
  padding-top: 5%;
  text-align: center;
}

.text_contact span{
  color: #979393;
}
.text_contact span a{
  text-decoration: none;
}
/*.icon_contact img{
  display: block;
  margin: 0 auto;
}*/
.icon_contact:nth-child(1){
  width: 125px;
  height: 140px;
  text-align: center;
  display: block;
  margin: 0 auto;}

.icon_contact:nth-child(2){
  text-align: center;
  display: block;
  margin: 0 auto;}

.icon_contact:nth-child(3){
  text-align: center;
  display: block;
  margin: 0 auto;}


#devis_contact{
  z-index: -1;
  width:710px;
  height:603px;
  background-color: #C00A23;
  margin: 5% auto;
  box-shadow:  0 0 10px black;
}
h2#devis_title{
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  padding-top: 2%;
}

.form{

  padding:20px 30px;
  font-family:'Mukta Mahee',sans-serif;
}

input.contact_input{
  width:270px;
  padding:0 0 5% 0;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  color: white;
  font-family:'Mukta Mahee',sans-serif;
  transition:all .3s;
  border-bottom:2px solid white;}
input.contact_input:focus{
  border-bottom:2px solid #78788c;
}
input.contact_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input.contact_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

input.contact_input::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
p.contact_names:before{
  content:attr(type);
  display:block;
  margin: 4% 0;
  padding-top: 10%;
  font-size:14px;
  color:white;
}
button.contact_button{
  display: inline-block;
  padding:0 20px;
  margin:8px 0 0;
  font-family:'Mukta Mahee',sans-serif;
  font-weight: 400;
  font-size: 24px;
  border-radius: 6px;
  background-color:white;
  color: black;
  cursor:pointer;
  transition:all .3s;
  border:none;

}
button.contact_button:hover{
  background:#78788c;
  color:white;
}

#contact_gauche{
  float: left;
  margin-left: 1%;
}

#contact_droite{
float: right;
margin-right: 1%;
}

#contact_button button{
  text-align: center;
  margin-top: 70%;
  font-size: 24px;
  font-family: "Mukta Mahee", sans-serif;
  font-weight: 400;
}
.contact_message{
  margin-top: 25%;
}
input.contact_message{
  width:500px;
}
