@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

h1.h1_flex{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #C00A23;
  padding-bottom:0.4%;
  padding-top: 4%;
}

#underline_flex_know-how{
  border-top: 6px solid #C00A23;
  width: 189px;
  margin-left: 42%;
  padding-bottom: 2%;
}

#underline_flex_about{
  border-top: 6px solid #C00A23;
  width: 162px;;
  margin-left: 42%;
  padding-bottom: 2%;
}


h2.h2_flex {
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
}

h3.h3_flex {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
}

.bati_ancien{
  display: flex;
  padding-bottom: 600px;
}

.maçonnerie{
  display: flex;
}

.texte{
  display: flex;
  flex-wrap: wrap; /*retour à la ligne si plus de place*/
  width: 414px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.para {
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 157.7%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

#line {
  display : block;
  border: 6px solid #C00A23;
  width: 162px;
  height: 0px;
}

#intro_text {
  text-align: center;
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.section {
  display : inline-block;
  position : relative;
}

#image1 {
  display : inline-block;
  float:left;
  position : relative;
}

#image2 {
  display:inline-block;
  float : right;
  position : relative;
}

#text1 {
  display : inline-block;
  float : right;
  position : relative;
}

#text2 {
  display : inline-block;
  float : left;
  position : relative;
}

#absolute {
  position : absolute;
}

/* CAROUSEL */
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel {
  background: #2C2C2C;
  width: 100%;
  margin-left: 2%;
}

.carousel-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: #2C2C2C;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
}


.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #c00a23;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer;}

  .flickity-page-dots .dot.is-selected {
      opacity: 1;
}

.carrousel_gauche{
  width: 40%;
}

.cadre_gauche{
  position: absolute;
}

.cadre_droit{

}
