@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@media screen and (max-width: 1024px) {
  #realization_page{
    margin-left: auto;
    margin-right: auto;


  }
}
@media screen and (max-width: 768px) {
  body section #realization_page{
    float: none;

  }
}

@media screen and (max-width: 480px) {
  body section #realization_page{
    float: none;

  }
}


body section#realization_page{
  margin-top: 150px;
  margin-bottom: 145px;
}

  div.wrap_realization h2#realization_title{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #C00A23;
    padding-bottom:0.4%;
    padding-top: 1%;
    width : 100%;
  }

  .underline_real {
    border-top: 6px solid #C00A23;
    width: 162px;;
    margin-left: 47%;
    margin-top : 5px;
  }

    div#underline{
      border-top: 6px solid #C00A23;
      width: 341px;
      margin-left: 42%;
      padding-bottom: 2%;
    }

  div.wrap_realization{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    padding-left: 3%;

  }

  div.wrap_realization div{
    margin: 16px;
  }


    .pict {
      width: 365px;
      height: 195px;
      overflow: hidden;
      padding: 2px;
    }

    .pict > img {
    	width: 365px;
    	height: 195px;
    	transition: all 1s;
    	-moz-transition: all 1s;
    	-webkit-transition: all 1s;
    	-o-transition: all 1s;
      }


    img.1:hover {
    	transform: scale(1.05);
    	-ms-transform: scale(1.05);
    	-webkit-transform: scale(1.05);
    	-o-transform: scale(1.05);
    	-moz-transform: scale(1.05);

    }

    img.2:hover {
      transform: scale(1.05);
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
      -moz-transform: scale(1.05);

    }

    img.3:hover {
      transform: scale(1.05);
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
      -moz-transform: scale(1.05);

    }

    img.4:hover {
      transform: scale(1.05);
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
      -moz-transform: scale(1.05);

    }


    img.5:hover {
      transform: scale(1.05);
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
      -moz-transform: scale(1.05);

    }

  /* ex  .zoom:hover > .pict > img.5 {
      transform: scale(1.05);
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
      -moz-transform: scale(1.05);

    }*/





/*Autre animation survol image

.zoom div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom div:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
