h1.flexible{

}

#underline{
  border-top: 20px solid #C00A23;
  width: 341px;
  margin-left: 40%;
}




/*h2 #savoirfaire_title{
  color: black;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #C00A23;
  padding-bottom:0.5%;

}*/
