@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');



body section #realisations_page{
    display:flex;
    justify-content: space-between;
    max-width: 1218px;
    margin-left: auto;
    margin-right: auto;
}
  h2#realisations_title{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #C00A23;
    padding-bottom:0.5%;

  }

  #underline{
    border-top: 6px solid #C00A23;
    width: 341px;
    margin-left: 40%;
  }

  section #wrap_realisations div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
