h1.flexible{

}





/*h2 #savoirfaire_title{
  color: black;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #C00A23;
  padding-bottom:0.5%;

}*/
