@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

h1.h1_flex{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 112.7%;
  text-align: center;
  color: #C00A23;
}

#underline_flex{
  border-top: 6px solid #C00A23;
  width: 341px;
  margin-left: 40%;
}


h2.h2_flex {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
}

h3.h3_flex {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
}

.texte{
  width: 414px;
}

.para {
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 157.7%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

#line {
  display : block;
  border: 6px solid #C00A23;
  width: 162px;
  height: 0px;
}

#intro_text {
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.section {
  display : inline-block;
  position : relative;
}

#image1 {
  display : inline-block;
  float:left;
  position : relative;
}

#image2 {
  display:inline-block;
  float : right;
  position : relative;
}

#text1 {
  display : inline-block;
  float : right;
  position : relative;
}

#text2 {
  display : inline-block;
  float : left;
  position : relative;
}

#absolute {
  position : absolute;
}

/* CAROUSEL */
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: #EEE;
  width:35%;
  margin-left:5%;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
}
