@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

section.wrap_flex{
  margin-top: 150px;
  margin-bottom: 145px;
}

h1.h1_flex{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #C00A23;
  padding-bottom:5px;
  padding-top: 4%;
}

#underline_flex_know-how{
  border-top: 6px solid #C00A23;
  width: 189px;
  margin-left: 42%;
  padding-bottom: 2%;
}

#underline_flex_about{
  border-top: 6px solid #C00A23;
  width: 162px;;
  margin-left: 47%;
  margin-top : 5px;
}

#intro_text {
  text-align: center;
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top : 5px;
  margin-bottom: 40px;
}

h2.h2_flex {
  text-align: left;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
}

h3.h3_flex {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
  padding-bottom: 60px;
}

.oldb{
  display: flex;
  justify-content: center;
  min-height: 617px;
}


.frame_assembly_h{
  display: flex;
  flex-wrap: wrap; /*retour à la ligne si plus de place*/
  width: 414px;
  margin-left: 99px;
  position: relative;
  display:block;
}

.frame_assembly_h div.text{
  margin: auto;
}



.para {
  font-family: 'Mukta Mahee', sans-serif;
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 157.7%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.carrousel_sf_h,.carrousel_sf_l{
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.carrousel_sf_h{
  padding-right: 104px;
}

.carrousel_sf_bas{
  padding-left: 104px;
}


.cadre_l,.cadre_r{
  position: absolute;
  margin : -25px -30px;
}

.image_ap_h{
  margin-top: auto;
  margin-bottom: auto;
}

div.texte2{
  padding-left: 100px;
  margin: auto;
}

/* ordre inversé*/
.frame_assembly_l{
  order: 1;
  width: 414px;
  margin-right: 210px;
  display: flex;
}

.image_ap_l{
  order: 2;
  margin-top: auto;
  margin-bottom: auto;

}

.carrousel_sf_l{
  order: 2;
}

p.legend{
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  background-image: linear-gradient(180deg, #C00A23 59.78%, rgba(255, 255, 255, 0) 100%);
  margin-left: 50%;
}

/* CAROUSEL */
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel {
  background: #2C2C2C;
  width: 100%;
  margin-left: 2%;
}

.carousel-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: #2C2C2C;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
}


.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #c00a23;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer;}

  .flickity-page-dots .dot.is-selected {
      opacity: 1;
}
