@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* On screens that are 992px or less, set the background color to blue */

/*#contact_page{
  display: flex;
  justify-content: center;

}*/
@media screen and (max-width: 1024px) {
  #contact_page{
    margin-left: auto;
    margin-right: auto;


  }
}
@media screen and (max-width: 768px) {
  body section #contact_page{
    float: none;

  }
}

@media screen and (max-width: 480px) {
  body section #contact_page{
    float: none;

  }
}




h2#contact_title{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #C00A23;
  padding-bottom:0.4%;
  padding-top: 1%;

}

#underline_contact{
  border-top: 6px solid #C00A23;
  width: 341px;
  margin-left: 42%;
  padding-bottom: 2%;
}

#small_text{
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align:center;
  color: white;
  padding-top: 1%;
}

#bold_text{
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align:center;
  color: white;
}
#wrap_contact{
  display: flex;
  justify-content: space-around;
  margin-top : 5%;
  margin-left: 18%;
  margin-right: 18%;
}

.text_contact{
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: white;
  padding-top: 5%;
  text-align: center;
}

.text_contact span{
  color: #979393;
}
.text_contact span a{
  text-decoration: none;
}
/*.icon_contact img{
  display: block;
  margin: 0 auto;
}*/
.icon_contact:nth-child(1){
  width: 125px;
  height: 130px;
  text-align: center;
  display: block;
  margin: 0 auto;}

.icon_contact:nth-child(2){
  text-align: center;
  display: block;
  margin: 0 auto;}

.icon_contact:nth-child(3){
  text-align: center;
  display: block;
  margin: 0 auto;}

.icon_contact:hover{
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.icon_contact img{
  margin: 0 auto;
}

#devis_contact{
  z-index: -1;
  width:710px;
  height:603px;
  background-color: #C00A23;
  margin: 3% auto;
  box-shadow:  0 0 10px black;
}
h2#devis_title{
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  padding-top: 2%;
}








.form{

  padding:3% 5%;
  font-family:'Mukta Mahee',sans-serif;
}

input.contact_input{
  width:250px;
  padding:0 0 5% 0;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  color: white;
  font-family:'Mukta Mahee',sans-serif;
  transition:all .3s;
  border-bottom:2px solid white;}
input.contact_input:focus{
  border-bottom:2px solid #2c2c2c;
}
input.contact_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input.contact_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

input.contact_input::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
p.contact_names:before{
  content:attr(type);
  display:block;
  margin: 3% 0;
  padding-top: 10%;
  font-size:22px;
  font-family: 'Mukta Mahee', sans-serif;
  color:white;
}
input.contact_button{
  display: inline-block;
  padding:1px 25px;
  margin:8px 0 0;
  font-family:'Mukta Mahee',sans-serif;
  font-weight: 400;
  font-size: 24px;
  border-radius: 6px;
  background-color:white;
  color: black;
  cursor:pointer;
  transition:all .3s;
  border:none;

}
input.contact_button:hover{
  background:#78788c;
  color:white;
}

#contact_gauche{
  float: left;
  margin-left: 1%;
}

#contact_droite{
float: right;
margin-right: 1%;
}

#contact_button input{
  text-align: center;
  margin-top: 10%;
  margin-left: 40%;
  font-size: 24px;
  font-family: "Mukta Mahee", sans-serif;
  font-weight: 400;
}
.contact_message{
  clear:both;
  margin-top: 50%;
}
.contact_message input.contact_input{
  width: 100%;
}
/*.contact_message.contact_names input{
  width:150px;
}*/
.contact_message p.contact_names:before{
  margin-top: 20%;
}


.en_savoir_plus{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #C4C4C4;
  padding-top: 2%;
}
.lien_en_savoir_plus{
  text-decoration: none;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: black;
  padding-top: 2%;
}
