@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

section.wrap_realization{
  margin-top: 150px;
  margin-bottom: 240px;
}

h1.title_realization{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #C00A23;
  padding-bottom:5px;
  padding-top: 104px;
}


.underline_realization{
  border-top: 6px solid #C00A23;
  width: 341px;
  margin-left: 42%;
  margin-top : 10px;
  padding-bottom: 65px;
}

.contact_page{
  margin-top: 150px;
  margin-bottom: 145px;
}

div.devis_contact p.debug{
  display: flex;
  justify-content: center;
  color: black;
  font-size: 14px;
  font-family: 'Mukta Mahee', sans-serif;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}

div.image_set{
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

div.image_set img{
  width :383px;
  height: 254px;
  margin-right: 33px;
}

@media screen and (max-width: 1024px) { /*(petite tablette paysage)*/
  div.image_set img {
  	width: 282px;
  }

  section.wrap_realization {
	  margin-top: 56px;

  }

}

@media screen and (max-width: 768px) {  /*(petite tablette portrait)*/
  div.image_set {
	flex-direction: column;
	align-items: center;
  }

  h1.title_realization {
  	font-size: 33px;
    padding-top: 0px;
  }

  div.image_set img {
  	margin-bottom: 33px;
  }

  .underline_realization {
  	margin-left: 37%;
  }

  section.wrap_realization {
    margin-top: 105px;
    margin-bottom: -50px;

  }


}

  @media screen and (max-width: 375px) {  /*(petite tablette portrait)*/

    div.image_set img {
    	width: 235px;
    	height: 224px;
    }

    h1.title_realization {
	    font-size: 21px;
	    white-space: nowrap;
    }

    .underline_realization {
    	border-top: 4px solid #C00A23;
    	width: 215px;
    	margin-left: 28%;
    	margin-top: 0px;
    }

}
