p.title_mentionl {
	font-family: 'Mukta Mahee', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 30px;
	margin-bottom: 18px;
	text-decoration: underline;
}

p.info_mentionl{
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  line-height: 30px;
  margin-bottom: 18px;
}

p.kanzai {
	font-family: 'Mukta Mahee', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	text-align: center;
	color: #FFFFFF;
	line-height: 30px;
	margin-bottom: 40px;
}

div.underline_mentionl{
	width: 100%;
	height: 2px;
	background-color: #C00A23;
}

@media screen and (max-width: 375px) {  /*(petite tablette portrait)*/
  p.title_mentionl{
      font-size: 15px;
  }

  p.info_mentionl{
      font-size: 15px;
  }
}
