@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

section.wrap_flex{
  margin-top: 150px;
  margin-bottom: 145px;
  /*test-responsive
  display: flex;
  flex-direction: column;*/
}

h1.h1_flex{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #C00A23;
  padding-bottom:5px;
  padding-top: 104px;
}

.underline_flex_know-how{
  border-top: 6px solid #C00A23;
  width: 189px;
  margin-left: 46%;
  margin-top : 10px;
  margin-bottom: 30px;
}

.underline_flex_about{
  border-top: 6px solid #C00A23;
  width: 162px;
  margin-left: 47%;
  margin-top : 10px;
  margin-bottom: 30px;
}

.intro_text {
  text-align: center;
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top : 5px;
  margin-bottom: 90px;
}

h2.h2_flex {
  text-align: left;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #FFFFFF;
  margin-top: 25px;
}

h3.h3_flex {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #FFFFFF;
}

.oldb{
  display: flex;
  justify-content: center;
  min-height: 700px;
}


.frame_assembly_h{
  display: flex;
  flex-wrap: wrap; /*back to the line if more space*/
  width: 414px;
  margin-left: 100px;
  position: relative;
}

.frame_assembly_h div.text{
  margin: auto;
}

.para {
  font-family: 'Mukta Mahee', sans-serif;
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.carrousel_sf_h,.carrousel_sf_l{
  width: 705px;
  margin-top: auto;
  margin-bottom: auto;
}

.carrousel_sf_h{
  margin-left: -36px;
}

.carrousel_sf_l{
  margin-left: -180px;
}

.cadre_l,.cadre_r{
  position: absolute;
  margin : 0px -30px;
}

.picture_ap_h{
  margin-top: auto;
  margin-bottom: auto;
}

.picture_ap_h img, .picture_ap_l img{
  max-width: 521px;
  max-height: 394px;
}

div.text2{
  margin: auto;
}

.frame_assembly_l{
  order: 1;
  width: 414px;
  margin-right: 210px;
  display: flex;
}

.picture_ap_l{
  order: 2;
  margin-top: auto;
  margin-bottom: auto;

}

.carrousel_sf_l{
  order: 2;
}

p.legend{
  font-family: 'Mukta Mahee', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  margin-top: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  background-image: linear-gradient(180deg, #C00A23 59.78%, rgba(255, 255, 255, 0) 100%);
}

.text p, .text2 p {
	font-family: 'Mukta Mahee', sans-serif;
	width: 430px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25.5px;
	color: #FFFFFF;
	padding-bottom: 23px;
}

/* CAROUSEL */
/* external css: flickity.css */


.carousel {
  background: #2C2C2C;
  width: 100%;
  margin-left: 2%;
}

.carousel-cell {
  height: 400px;
  margin-right: 10px;
  background: #2C2C2C;
  padding-bottom: 65px;
}

.carousel-cell-image {
  display: block;
  margin: 0 auto;
  width: 445px;
  height: 335px;

}


.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #c00a23;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer;}

  .flickity-page-dots .dot.is-selected {
      opacity: 1;
}


@media screen and (max-width: 1024px) { /*(petite tablette paysage)*/

  section.wrap_flex {
  	margin-top: 50px;
  }

  .intro_text {
	  margin-bottom: 130px;
  }


  .oldb {
  	display: flex;
  	flex-direction: column;
    align-items: center;
  }

  h2.h2_flex {
    font-size: 24px;
    margin-left: -155px;
  }

  h3.h3_flex{
    margin-left: -155px;
    font-size: 21px;
  }

  div.text2 {
    padding-left: 104px;
    padding-top: 56px;
  }


  .text p, .text2 p{
    font-size: 16px;
    margin-left: -155px;
  }

  .cadre_r {
  	margin-top: -10px;
  	margin-left: -182px;
  }

  /*savoir-faire*/

  .carrousel_sf_h {
  	order: 2;
  	margin-top: 375px;
  	margin-bottom: 75px;
  }

  .carrousel_sf_l{
    margin-top: 290px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 325px;
  }

  .carrousel_sf_h, .carrousel_sf_l{
    width: 500px;
  }

  .carousel-cell-image {
    width: 390px;
	  height: 280px;
  }

  .cadre_l{
	  margin: -53px -153px;
  }

  .frame_assembly_h div.text {
	  margin: -43px 55px;
  }

  .frame_assembly_l{

    margin-right: 0px;
  }

  /*a propos*/

  .picture_ap_h {
  	order: 2;
  }
  .picture_ap_h img {
  	max-width: 415px;
	  max-height: 394px;
	  margin-top: 70px;
    margin-left: 60px;
}

.picture_ap_l img{
  max-width: 465px;
  margin-top: 190px;
  margin-left: 60px;
}

.flickity-page-dots {
	bottom: 60px;
}


}

@media screen and (max-width: 768px) {  /*(petite tablette portrait)*/

  section.wrap_flex {
  	margin-top: 125px;
    margin-bottom: 0px;
  }

  .intro_text {
	  font-size: 12px;
    line-height: 20px;
    margin-top: 0px;
  }

  h1.h1_flex {
	  font-size: 25px;
    padding-top: 0px;
  }

  .underline_flex_know-how {
  	width: 189px;
  	margin-left: 43%;
  	margin-top: 6px;
  	padding-bottom: 10px;
  }

  h2.h2_flex {
    margin-left: -35px;
    margin-top: 20px;
  }

  h3.h3_flex{
    margin-left: -35px;
  }

  .text p, .text2 p {
  	font-size: 14px;
  	margin-left: -35px;
  	width: 325px;
  }

  .cadre_l {
    margin: -53px -125px;
  }

  .cadre_r {
    margin-top: -10px;
    margin-left: -70px;
  }

  /*savoir faire*/

  .carrousel_sf_h, .carrousel_sf_l {
  	width: 395px;
  }

  .carousel-cell-image {
  	width: 287px;
  }

}

  @media screen and (max-width: 375px) {  /*(petite tablette portrait)*/

    /*a propos*/
    .picture_ap_h img, .picture_ap_l img{
	    max-width: 320px;
      margin-left: 60px;
    }



}
